


.w-container{
    width: 80%;
    margin: 0 auto;
}
/* Influencer products */

.Influencer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.Influencer-title{
    width: 260px;
    height: 50px;
    color: #3A3A3A;
   font-size: 24px;
   font-weight: 700;
}
ul > li{
    list-style: none;
    color: #3A3A3A;
    font-size: 13px;
    font-weight: 600;
    width: 45px;
    height: 32px;
    margin: 0 20px;
}
.Influencer-ul ul{
    display: flex;
    justify-content: space-between;
}

/* <!-- Start your Journey --> */

.start-container{
    display: flex;
    align-items: center;
}
.start-img{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    height: 20%;
}
.start-btn{
    border-radius: 41px;
    background: #E02C6D;
    color: #FFF;
   font-size: 12px;
   font-weight: 700;
   border: none;
   padding: 10px 20px;
}
/* sponsor-icons */
.sponsor-icons-content{
    border: 1px solid lightgrey;
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 80%;
    padding: 15px 0;
   
}
.sponsor-icons-img{
    width: 52px;
    height: 28px;
}







/* phone device */

@media screen and (min-width:0px) and (max-width:480px) {
    .Influencer-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .Influencer-ul ul {
        padding: 0;
    }
    .start-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .start-btn{
        text-align: center;
        width: 50%;
        margin-left: 20%;
        margin-top: 2%;
    }
    .sponsor-icons-content {
        display: flex;
        flex-wrap: wrap;
    }
    .sponsor-icons-img{
        padding: 3%;
    }

}
